html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #a74e4e;
}

body {
    overflow: hidden;
}

canvas {
    display: block;
    width: 100vw;
    height: 100vh;
    touch-action: none;
}
