html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #484848;
}

body {
    overflow: hidden;
}

canvas {
    display: block;
    width: 100vw;
    height: 100vh;
    touch-action: none;

    /* 
    border: 1px solid white;
    */
}
